rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /orders/{orderId} {
      allow read, write: if true;
    }
    match /products/{productId} {
      allow read, write: if true;
    }
  }
}
